{% extends 'base.html' %}{% block title %} Cart {% endblock title %}
{% block sign_up %}
<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <th>Count</th>
                <th>Name</th>
                <th>Price</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><a href="#">Delete</a></td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
{% endblock sign_up %}