{% extends 'base.html' %}{% block title %} Cart {% endblock title %}
{% block sign_up %}
<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <th>Count</th>
                <th>Name</th>
                <th>Price</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for service in posts %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td>{{service.desc}}</td>
                    <td></td>
                    <td><form method="POST" action="">
                        {{ form.hidden_tag() }}
                          {{ form.deleteItem(class="btn btn-outline-info") }}
                      </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock sign_up %}