{% extends "base.html" %}
{% block title %}
	Discover
{% endblock title %}
{% block discover %}
  <h2>We Bring You The Best</h2>
  <h3>Filter by:</h3>
  <select onChange="window.location.href=this.value">
    <option></option>
    <option value="/discover">Show all</option>
    <option value="/discover/untagged">Untagged</option>
    <option value="/discover/art">Art</option>
    <option value="/discover/music">Music</option>
    <option value="/discover/fitness">Fitness</option>
  </select>
  <br>
  <div>
    {% for post in posts %}
    <div>
      <a href="{{ url_for('display', post_id=post.id) }}">
        <h2 class="post-title">
          {{ post.desc }}
        </h2>
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock discover %}

    
