{% extends "base.html" %}
{% block title %}
	Edit Password
{% endblock title %}
{% block sign_up %}
    <h1>Password Change</h1>

    <form action="" method="post" novalidate>
    <p>
        {{ form.old_password.label }}<br>
        {{ form.old_password(size=32) }}
	
    </p>
    <p>
        {{ form.new_password.label }}<br>
        {{ form.new_password(size=32) }}
    </p>
    <p>
        {{ form.confirm_new_password.label }}<br>
        {{ form.confirm_new_password(size=32) }}
    </p>

    <p>{{ form.submit() }}</p>
    </form>

    <form action="" method="post" novalidate>
    <input type="submit" name="Cancel" value="Cancel">
    </form>
{% endblock sign_up %}
