{% extends "base.html" %}
{% block title %}
  Home
{% endblock %}
{% block sign_up %}
<!-- Begin home page, start with images -->
    <body>
    <div id="bg-right"></div>
    <div id="bg-left"></div>
    <div class="slideshow">
      <!-- Slide 1 -->
      <div class="mySlides fade" style="display:block;">
        <div class="numbertext">1/3</div>
        <img src="https://t3.ftcdn.net/jpg/03/15/34/90/360_F_315349043_6ohfFyx37AFusCKZtGQtJR0jqUxhb25Y.jpg" style="width:100%;height:500px;object-fit:cover">
        <div class="text">Your photography/hiking service here</div>
      </div>

      <!-- Slide 2 -->
      <div class="mySlides fade">
        <div class="numbertext">2/3</div>
        <img src="https://media.istockphoto.com/photos/girl-painting-on-canvas-picture-id1125625188?k=20&m=1125625188&s=612x612&w=0&h=lJ20P7E-0xe9TX2kr3xnxO8llXTJlp3eE5bx8hZc6L0=" style="width:100%; height:500px;object-fit:cover;">
        <div class="text">Your painting service here</div>
      </div>

      <!-- Slide 3 -->
      <div class="mySlides fade">
        <div class="numbertext">3/3</div>
        <img src="https://media.istockphoto.com/photos/mixed-race-woman-singing-and-playing-guitar-picture-id1125877063?k=20&m=1125877063&s=612x612&w=0&h=EqzTceUex2vhPu3m_fAJ7X-kks5wl4BMr9FkxxVvtWU=" style="width:100%;height:500px;object-fit:cover;">
        <div class="text">Your music service here</div>
      </div>

      <!-- now the buttons to switch -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- the dots to show which slide we're on -->
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span>
      <span class="dot" onclick="currentSlide(2)"></span>
      <span class="dot" onclick="currentSlide(3)"></span>
    </div>
    <!-- a little comment on what this site is -->
    <div style="padding-left:10%; padding-right:10%; text-align:center; margin-bottom: 50px;">
      <h1>Connecting buyers to sellers</h1>
      <p>We connect buyers to sellers. Buyers can list anything they want to sell, whether it be a service or goods. Buyers can browse sellers based on what they are looking for.</p>
      <a href="/sign-up" class="button">Get Started</a>
    </div>
{% endblock sign_up %}
