{% extends "base.html" %}
{% block title %} Create a listing {% endblock %}
{% block sign_up %}
<form method="POST">
  <h3>New listing</h3>
  <div class="form-group">
    <label for="desc">Title</label><br>
    <input type="text" name="desc" id="desc"><br>
    <label for="body">Description</label><br>
    <textarea 
      id="body" 
      name="body" 
      maxlength="512"
      rows="5"
      cols="50"
      placeholder="Describe what your listing offers!"
    ></textarea><br>
    <label for="price">Price</label><br>
    $<input type="number" name="price" id="price"><br>
    <label for="tag">Tags</label>
    <select name="tag" id="tag">
      <option value="untagged">Untagged</option>
      <option value="art">Art</option>
      <option value="music">Music</option>
      <option value="fitness">Fitness</option>
    </select>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</form>
{% endblock sign_up %}
