s{% extends "base.html" %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}

        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}

    {% if user %}

    <h1>
        User: {{ user }}
    </h1>
    {% endif %}

    <form action ="" method="post" novalidate>
        <input type="submit" name="Edit Username" value="Edit Username">
    </form>

    {% if user %}
    <h2>
        Current Email: {{ email }}
    </h2>
    {% endif %}

    <form action ="" method="post" novalidate>
        <input type="submit" name="Edit Email" value="Edit Email">
    </form>

    <form action ="" method="post" novalidate>
        <input type="submit" name="Edit Password" value="Edit Password">
    </form>

     <ul>
        <li>Name: {{ user }}</li>
        <li>Email: {{ email }}</li>
     </ul>
{% endblock content %}
